.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 2rem;
    font-family: Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px #ccc;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.signup-success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.signup-success-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #2d2d2d;
}

.signup-success-container p {
    font-size: 1.5rem;
    color: #4f4f4f;
    text-align: center;
    max-width: 600px;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
    .signup-success-container h1 {
        font-size: 2.5rem;
    }

    .signup-success-container p {
        font-size: 1.2rem;
    }
}